.logo {
  height: 60px;
}
.d-flex a {
  text-decoration: none;
}
.login{
  margin-right: 10px;
  color: black;
}
.register {
  margin-right: 10px;
  color: black;
}
.title-header {
  margin-top: 20px;
  text-align: center;
}
.tittle-content{
  margin-top: 5px;
  text-align: left;
  font-size: 20px;
}
